*,*::after,*::before{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background: #000;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock{
    width: 300px;
    height: 300px;
    border: 3px solid rgba(160, 204, 170, 0.637);
    border-radius: 50%;
    position: relative;
}
.clock .number{
    position: absolute;
    width: 100%;
    height: 100%;
    font-weight:700;
    padding: 4px;
    font-size: 1.1rem;
   text-align: center;
   color: rgba(1, 253, 56, 0.431);
   transform: rotate(var(--rotation));
}
.clock .number1{--rotation:30deg}
.clock .number2{--rotation:60deg}
.clock .number3{--rotation:90deg}
.clock .number4{--rotation:120deg}
.clock .number5{--rotation:150deg}
.clock .number6{--rotation:-180deg}
.clock .number7{--rotation:210deg}
.clock .number8{--rotation:240deg}
.clock .number9{--rotation:270deg}
.clock .number10{--rotation:300deg}
.clock .number11{--rotation:330deg}
.clock .number12{--rotation:360deg}

.clock .hand{
    --rotation:0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    
    background: white;
    transform-origin: bottom;
    background: rgba(63, 241, 102, 0.431);
    border: 1px solid rgb(247, 114, 114);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: -1;
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
}
.clock::after{
    content: '';
    position: absolute;
    background: rgba(63, 241, 102, 0.431);
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;    
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: 1;
    
}
.clock .hand.second{
    width: 1px;
    height: 43%;
    background: rgba(63, 241, 102, 0.431);
   
}
.clock .hand.minute{
    width: 6px;
    height: 40%;
    background: rgba(63, 241, 102, 0.431);
    
}
.clock .hand.houer{
    width: 10px;
    height: 38%;
    background: rgba(63, 241, 102, 0.431);
   
}